<!DOCTYPE html>
<html>
  <head>
    <title>Coins</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<<<<<<< HEAD
    <%= render "header_footer/header"%>
=======
>>>>>>> 9066156ee453122c79be0fb3fffb3a309f53be73
    <%= yield %>
    <%= render "header_footer/footer"%>
  </body>
</html>
